<footer>

    <div class="row">
        <div class="col-lg-4 col-12">
            <h4 class="text-center"> List Items</h4>
            <ul class="text-center">
                <li> Items 01</li>
                <li> Items 02</li>
                <li> Items 03</li>
                <li> Items 04</li>
                <li> Items 05</li>

            </ul>
        </div>
        <div class="col-lg-4 col-12">
            <h4 class="text-center">Contact Form</h4>
        </div>
        <div class="col-lg-4 col-12">
            <h4 class="text-center"> Some other informations</h4>
            <div class="row text-center">
                <div class="col-md-6 col-12">
                    <ul>
                        <li>ItemBis01</li>
                        <li>ItemBis02</li>
                        <li>ItemBis03</li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul>
                        <li>ItemBis01</li>
                        <li>ItemBis02</li>
                        <li>ItemBis03</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</footer>