<!-- --------------------------------------
                TO DO LIST 

     Create a style for the side bar  


-------------------------------------- -->



<!-- Create a style for the side bar   -->
<div class="aside-bar position-absolute align-middle" style="right:2%">
    <ul class="aside-bar-list">
        <li class="aside-bar-item"><a href=""> Icon 1 </a></li>
        <li class="aside-bar-item"><a href=""> Icon 2 </a></li>
        <li class="aside-bar-item"><a href=""> Icon 3 </a></li>
        <li class="aside-bar-item"><a href=""> Icon 4 </a></li>

    </ul>
</div>