footer{
    background-color: black;
    margin: 0;
    margin-left: 5rem;
    padding: 5%;
    p{
      margin:0;
      text-align: center;
    }
  }


  @media screen and (max-width:990px) {

    footer{
      margin-left: 0rem;
    }


  }