

header{
    background-color: $secondaryColor;


    //  Css base Navbar 
    nav{
      z-index: 1;
      display:flex;
      justify-content: space-around;
      padding:$padding;
      background-color: $secondaryColor;
      color:$primaryTextColor;
      






    }
}




  

