
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

@import "header";





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

@import "footer";


#main{
    padding-top:5%;
  }
  
  .mainSection{
    width:80%;
    height:100%;
    margin: auto;
    margin-right:auto;
  }
  
  .mainSectionLeft{
      width: 80%;
      height:100%;
      margin-left: auto;
      margin-right: 5%;
  }
  
  

  @media screen and (max-width:500px) {





	}
  
/*--------------------------------------------------------------
# Test Layout Flashy 
--------------------------------------------------------------*/

main{
  // background-color: $layoutColor1!important;

}

footer{
  background-color: $layoutColor2!important;

}

.layoutImg{
  img{
    width:100%;
  }

  .textImg{
    top:25%;
    padding:0 10%;
    color: white;
  }
}
 
  
  


  
