{% extends 'APP_NAME/base.html' %}


{% block aside %}
<div class="row">
        <div class="col">
                <h3> I m a aside </h3> 
                <ul>
                        <li> Elt </li>
                        <li> Elt </li>
                        <li> Elt </li>
                
                </ul>
        </div>
</div>

 
{% endblock %} 

{% block content %}

<div class="row">
        <div class="col-12">
                <h1> Hello I m the main content  </h1>

        </div>
</div>


        
                
    
          



{% endblock %}

{% block script %}

<script>
       $(document).ready(function(){
                console.log("Hello")



       });
</script>
        
{% endblock %}

